node_modules/
frontend/dist/
.env
*.log

storage/jobs.json
storage/original/*
storage/converted/*
storage/processed/*
storage/logs/*

!storage/original/.gitkeep
!storage/converted/.gitkeep
!storage/processed/.gitkeep
!storage/logs/.gitkeep

.venv/
__pycache__/
.DS_Store
Thumbs.db
